<nav>
  <h1>Hi.</h1>
  <a href="/">
		<style type="text/css">
    .avatar{ 
        margin-top: 0px; 
        width:150px; 
        height:150px; 
        border-radius:150px; 
    }
    </style>
		{% if site.data.theme.social.avatar %}
    <img class="avatar" src="/images/avatar.jpeg" height="80" width="80" id="avatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p> I am a backend software engineer and like writing something here.</p>
    <p> It cay help me summarize what I've learned and privode useful information for peopel in need.</p>
    <p>
    <code> Progress one percent per day.</code>
    <!-- Edit me in <code>_includes/sidebar.html</code> -->
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
